

body {
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;


}

header {
    display: flex;
    min-height: 70px;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    
    display: flex;
    height: 40px;
    margin-right: 10px;
}

nav a {

    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{

    color: #fff;


}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }


}
       
nav li{
    float:left;
    width:10%;
    padding:5px 10px;
    background-color:rgb(107, 23, 23);
    border:1px solid rgb(105, 42, 42);
    text-align:center;
    color:#fff;
    }


 .gallery {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: 1fr 1fr  1fr;
     padding:125px ;
     grid-gap:10px;
     grid-template-areas: 
    "a . d"
    "b . e"
    "c . f"; 
    align-content: space-between;
    justify-content: space-around;

 }


 .gallery-item {
     object-fit:cover;
 }

 @media (min-width:760px){
     .gallery{
         grid-template-columns: 8ch auto;
         margin:auto;
     }
 }

 }
 .gallery-img {
  
 }
.item1 {
  grid-area: a;


}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}

.item6 {
  grid-area: f;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
