

a{
    text-decoration: none;
    color: black;


}

header {
    display: flex;
    min-height: 70px;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    
    display: flex;
    height: 40px;
    margin-right: 10px;
}

nav a {

    font-weight: 600;
    padding: 10px 15px;
}

nav a:hover{

    color: rgb(247, 238, 238);
    cursor: pointer;

}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }


}

.menuNavegacion {
    width: 100%;
    background-color: #133d68;
}

.menuNavegacion uL {

    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.menuNavegacion li {
    border-right: 1px solid white;
    flex-grow: 1;
    

}

@media (max-width:480px){
    .menuNavegacion{
        position: absolute;
        width: 100%;
    }
    .menu {
        padding-bottom: 50px;
        
    }

    .menuNavegacion ul{
        flex-direction: column;
        width: 70%;

    }
    .menuNavegacion li{
        border-top: 1px solid white;
        
    }
}

h2{
    text-align: center;
    position: relative;
    width: 100%;
    margin: 50px auto;
    top: 20px;
}


h2::before{
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
}
h2 span {
    background-color: white;
    padding: 0 15px;
}



.gallery  {

    display: inline-block;
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
.gallery-img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
    box-sizing: border-box;
    border-radius: 7px;
    transition:2s ;
    
}

.item:hover img{
     transition: 1s;
     transform: scale(1.2);
}
.video-box{ 
    width: 100%;
    border-radius: 7px;
    border: 1px solid greenyellow;
    
    max-width: 720px;
    height: 300px;
    margin:auto;
}
.video{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
@media (min-width:400px){
    .gallery{
    
    width: 70%;
    margin: auto;
    }
      
}


@media screen and (max-width:400px) {
    h2{
        padding: 80px;
        text-decoration: underline;
      

    }

    h2::before{
        display: none;

    }
    h2 span {
        padding: 0;

    }
    
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.carrito{
    width: 100%;
    max-width: 500px;
    margin:auto ;

}
.table{
    width: 100%;
    border: 1px solid gold;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;


}

.table tr{
    background-color: #133d68;
    border: 1px solid red;

}
.table th, table td{
    font-size: 16px;
    padding: 8px;
    text-align: center;

}
.table thead th {
    text-transform: uppercase;
    background-color: yellow ;

}

.table tbody tr:hover{
    background-color: rgba(0,0, 0,0.2);


}
.table tbody td:hover{
    background-color: rgba(0,0, 0,0.3);
    

}
.table caption {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0;


}

@media screen and(max-width:600px){
    .table{
        border:0px;
    }
    .table caption{
        font-size: 10px;


    }
    .table thead{
        display: none;
    }
    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display:block;
    }
    .table th,table td{
        font-size: 12px;
    }
    .table td{
        display:block;
        border-bottom: 4px solid #ddd;
        text-align: right;

    }
    .table td:last-child{
        border-bottom: 0px;
    }
    .table td::before{
        content:attr(data-label);
    }
}
form {
    width: 300px;
    margin: auto;
    background-color:rgb(230, 209, 209);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;


}
.formulario{
    
    padding: 30px 30px;
}

.contact {
    color: rgb(192, 130, 130);
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;


}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}


#boton{
    background: rgb(107, 51, 51);
    color:rgb(235, 223, 223);
    padding:20px;

}

#boton{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 100%;
    }
}


