

body {
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;


}

header {
    display: flex;
    min-height: 70px;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    
    display: flex;
    height: 40px;
    margin-right: 10px;
}

nav a {

    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{

    color: #fff;


}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }


}
       
nav li{
    float:left;
    width:10%;
    padding:5px 10px;
    background-color:rgb(107, 23, 23);
    border:1px solid rgb(105, 42, 42);
    text-align:center;
    color:#fff;
    }

    .cuadrado {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        background-color: rgb(128, 128, 128);
        position: absolute;
        right: 100px;

    }
