<mat-card class="example-card mt-2">
    <mat-card-header>
      <mat-card-title class="titulo">Detalles</mat-card-title>
      <mat-card-subtitle>sobre el jugador</mat-card-subtitle>
      <h1></h1>
    </mat-card-header>
    <mat-card-content>
      <p><b>Fecha de nacimiento:</b>  {{jugadores.fechaDeCreacion | date:'MMM d, y h:mm'}}</p>
      <p><b>Pais de nacimiento:</b> {{jugadores.country}}</p>
      <p><b>Ciudad de actual</b> residencia: {{jugadores.city}}</p>
      <p><b>Valor del mercado:</b> {{jugadores. valueMarket}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="boton" mat-button mat-raised-button  value="Go back!" onclick="history.back()">Regresar</button>
    
    </mat-card-actions>
  </mat-card>