.titulo{
    font-family: 'Domine', serif;
    font-family: 'Rock Salt', cursive;
    color:#DC4C9C;
    text-align:center;
    font-size: 30px;
    margin-bottom: 50px;

}

b{
    color: purple;
}
.boton{
    color:purple;
    background-color: #DC4C9C;
    justify-content: center;
}
*{
    font-family: 'Domine', serif;
    font-family: 'Rock Salt', cursive;
    

}