
<div>
  <h1>teams</h1>
  <hr>
  <p>
    in this section the 11 best players of the selected league will be shown

  </p>
  <hr>

  <select class="form-select form-select-lg mb-3" (change)="buscarEquipo($event)">
    <option selected>choose </option>
    <option *ngFor="let equi of teams" value="{{equi.idteam}}"> {{equi.nameteam}} </option>
  </select>


  <ul class="list-group" *ngIf="mostrar">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>