h1{
    font-family: 'Domine', serif;
    font-family: 'Rock Salt', cursive;
    color:#DC4C9C;
    text-align:center;
    font-size: 50px;
    margin-bottom: 50px;

}



p{
    font-family: 'Domine', serif;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 30px;
    

}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 30px;
  }