
<div>
  <h1>Stadistics</h1>
  <hr>
  <p>
    in this section the 11 best players of the selected league will be shown

  </p>
  <hr>
</div>


<div id="header-carousel" class="carousel slide" data-ride="carousel">
  <div class="container my-5 text-center">
      <button class="btn btn-danger w-100" >Buscar</button>
      <div class="mt-5" id="contenido">

      </div>
  </div>

</div>

<div *ngif="mostrar">

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">AB</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Manchester city</td>
        <td>96</td>
        <td>MC</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Fc Barcelona</td>
        <td>76</td>
        <td>FCB</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Real madrid</td>
        <td>56</td>
        <td>RM</td>
      </tr>
    </tbody>
  </table>
</div>
                    


